# IE0005 Lecture 1

### Variables

In [1]:
a = 3
b = "John"
c = [3, 4]
d = False

In [2]:
print("a is", a)
print("b is ", b, ", and c is ", c, ", finally d is ", d, sep="")

a is 3
b is John, and c is [3, 4], finally d is False

In [3]:
e = [a, b, c]
print("e is", e)

e is [3, 'John', [3, 4]]

In [4]:
e[0]

3

In [5]:
type(a)

int

In [6]:
a = "Thomas"
print(a)
type(a)

Thomas

str

In [7]:
# dictionary
car = {'brand':"Honda", 'model':"Civic", 'price':100000}
car['model']

'Civic'

In [8]:
canteens_dict = {'Name' : ["North Spine", "Koufu", "Canteen 9", "North Hill", "Canteen 11"],
                 'Stalls' : [20, 15, 10, 12, 8],
                 'Rating' : [4.5, 4.2, 4.0, 3.7, 4.2]
                }
canteennames = canteens_dict["Name"]
canteennames

['North Spine', 'Koufu', 'Canteen 9', 'North Hill', 'Canteen 11']

In [9]:
print(canteens_dict)

{'Name': ['North Spine', 'Koufu', 'Canteen 9', 'North Hill', 'Canteen 11'], 'Stalls': [20, 15, 10, 12, 8], 'Rating': [4.5, 4.2, 4.0, 3.7, 4.2]}

In [10]:
import pandas as pd

canteens_df = pd.DataFrame(canteens_dict)
canteens_df

          Name  Stalls  Rating
0  North Spine      20     4.5
1        Koufu      15     4.2
2    Canteen 9      10     4.0
3   North Hill      12     3.7
4   Canteen 11       8     4.2

### Control

In [11]:
mycanteen = "Canteen 9"
if mycanteen in canteennames:
  print(mycanteen, "found")
  print("something")
else:
  print(mycanteen, "not found")

Canteen 9 found
something

In [12]:
for name in canteennames:
  print(name)

North Spine
Koufu
Canteen 9
North Hill
Canteen 11

### Functions

#### https://docs.python.org/
##### https://docs.python.org/3/library/functions.html#print
print(*objects, sep=" ", end="\n", file=sys.stdout, flush=False)

In [13]:
def myfunction(arg1, arg2):
  x = arg1 + " " + arg2
  return x

In [14]:
myfunction("bright", "morning")

'bright morning'

In [15]:
myfunction(arg2="morning", arg1="good")

'good morning'

In [16]:
def myfunction(arg1="hello", arg2="world"):
  print(arg1, arg2)
  x = arg1 + " " + arg2
  return x

In [17]:
myfunction(arg1="day")

day world

'day world'

In [18]:
def myfunction(*elements):
  out = ""
  for x in elements:
    out += x + " "
  print(out)

myfunction("Amy", "Cherry", "Susan", "Cheryl")
myfunction("Amy", "Cherry", "Susan")

Amy Cherry Susan Cheryl
Amy Cherry Susan

E.g.: print(*objects, sep=" ", end="\n", file=sys.stdout, flush=False)

In [19]:
def myfunction(*elements, event="meeting"):
  out = ""
  for x in elements[:-1]:
    out += x + ", "
  out += "and " + elements[-1]

  print(out, "are attending this", event+".")

myfunction("Amy", "Cherry", "Susan", "Cheryl")

Amy, Cherry, Susan, and Cheryl are attending this meeting.

In [20]:
myfunction("Amy", "Cherry", "Susan", event="party")

Amy, Cherry, and Susan are attending this party.

In [21]:
def myfunction(**elements):
  print(elements["address"])

myfunction(name="Amy", address="50 Nanyang Ave", title="Professor")

50 Nanyang Ave

If the form "\*identifier" is present, it is initialized to a tuple receiving any excess positional parameters, defaulting to the empty tuple. 

If the form “\*\*identifier” is present, it is initialized to a new ordered mapping receiving any excess keyword arguments, defaulting to a new empty mapping of the same type. 

Parameters after “\*” or “\*identifier” are keyword-only parameters and may only be passed by keyword arguments.

myfunction(positional args, *args, **kwargs)